body {
    font-family: 'Playfair Display', serif;
    color: black;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
 
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*HEADER*/


.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-bottom: 20px;
}

.header__title {
    text-transform: uppercase;
    margin: 40px 0;
    font-size: 46px;
    font-weight: 700;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__link {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 15px;
    transition: opacity .1 linear;
}
.nav__link:hover{
    opacity: 0.75;
}

/*MAIN*/
.main {
    
}
.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    width: 100%;
    max-width: 1600px;
    justify-content: center;
    margin-bottom: 20px;
}
.container__row {
    display: flex;
    flex-direction: column;
    width: 24%;
    min-width: 200px;
    margin-right: 15px;
}
.container__row:nth-child(4n) {
    margin-right: 0;
}
.block {
    min-width: 200px;
    height: fit-content;
    position: relative;
    text-align: start;
    margin-top: 40px;
}
.block__item {
    border-bottom: 1px solid #c0c0c0;
}




.block__title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
    transition: opacity .1 linear;
}

.block__title:hover {
    opacity: .75;
}

.block__date {
    font-size: 12px;
    margin-bottom: 10px;

}
.block__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.block__text {
    font-size: 14px;
    margin-bottom: 10px;
}
.block__link {
    text-transform: uppercase;
    color: black;
    transition: opacity .1 linear;
    cursor: pointer;   
}

.block__link:hover {
    opacity: .75;
}
.social {
    display: flex;
    margin: 10px 0;
}
.social__item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.social__icon {
    height: 25px;
    fill: black;
    transition: opacity .1 linear;
}
.social__icon:hover {
    opacity: .75;
}


.footer {
    
}



